<app-navbar></app-navbar>
<div class="container bg_grey">
  <div class="row w-100">
    <h2 class="p-2 font_white">Movies</h2>
  </div>
  <div class="row bg_grey h-100 w-100 pt-2">
    <div class="col-md-3 mb-3" *ngFor="let movie of movie_list">
      <div class="card border-0" (click)="gotoMovieDetail(movie)">
        <img class="card-img-top height" src="{{movie.image}}" alt="Card image cap">
        <!-- <img class="card-img-top height" src="/src/assets/images/28movie.jpg" alt="Card image cap"> -->

        <div class="card-img-overlay p-0 cardtex">
          <p class="card-text p-1">{{movie.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>