body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("assets/images/imdbbg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon{
    height:61px;
    width:101px;
}
.bg_black{
 background: black;
}
.bg_grey{
    background:#333 !important;
}
.bg_white{
    background: white;
}
.bg_yellow{
    background: #F5C518 !important;
}
.font_13{
    font-size: 13px;
}
.font_15{
    font-size: 15px;
}
.font_16{
    font-size: 1rem !important;
}
.lineht{
    line-height:1 !important;
}
.cartext{
    color:white !important;
    
}
.font_black{
    color:black !important;
}
.font_white{
    color:white !important;
}
.font_blue{
     
    color:#63C9FF !important;
}
a:hover{
    text-decoration: underline ;
}